<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Payment{% endblock %}</title>
</head>
<body>

<h1>
    <a href="{% url 'payments:payment_form_view' %}" style="color: black; text-decoration: none;">
        -=Index=-
    </a>
</h1>

{% block content %}

{% endblock %}

</body>
</html>